body {
    font-family: 'Alegreya', serif;
    padding-top:30px;
    padding-left:0px;
    padding-right:0px;
    background-color:rgb(0,32,32);
}

.jumbotronContainer {
    margin-top:18px;
    padding:0 0;
    min-height:calc(100vh - 48px);
}

.anchor {
    display:block;
    position: relative;
    transform: translateY(-48px);
    height: 0;
    width: 90vw;
}

.jumbotron-main{
    padding:3vw 10vw;
    background:rgba(255,255,255,0.75);
    border-radius: 0;
}

h1 {
    font-size: 54px;
}

.jumbotron-main p {
    font-size: 24px;
}

.highlight{
    color: teal;
}

.jumbotronBkgdPhoto {
    display:flex;
    margin:0 0;
    padding:0 0;
    width:100%;
    height:calc(100vh - 48px);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}

#bkgdIndex {
    background-image: url(https://farm1.staticflickr.com/865/40103359780_d32557cabd_k.jpg);
    /* Photo of St Andrews pier and East Sands at sunrise */
}

#bkgdCoding {
    background-image: url(https://farm1.staticflickr.com/338/18527154218_173a70505d_k.jpg);
    /* Photo of Chester's weir */
}

#bkgdAboutMe {
    background-image: url(https://farm5.staticflickr.com/4205/35511958260_2a0a5667f5_k.jpg);
    /* Photo of my dog in Duke's Drive woods*/
}

#bkgdChester {
    background-image: url(https://farm2.staticflickr.com/1778/30115708258_55224642fc_k.jpg);
    /* Photo of amphitheatre */
}

#bkgdLatin {
    background-image: url(https://farm1.staticflickr.com/869/41524368771_f294dcf6c6_k.jpg);
    /* Photo of Swallowgate */
}

#bkgdPhotos {
    background-image: url(https://farm5.staticflickr.com/4785/40804009451_35dbf25637_k.jpg);
    /* Photo of fulmars */
}


#bkgdTiQ {
    background-image: url(https://farm5.staticflickr.com/4216/34984015144_e5bf503d8c_k.jpg);
    /* Photo of St Mary's stained glass */
}

.captionUnderJumbotron {
    padding: 0 10vw;
    align-self:flex-end;
    display:flex;
    justify-content:space-between;
    transform:translateY(-1vh);
    background:rgba(255,255,255,0.8);
    color:black;
}

.captionUnderJumbotron p {
    padding:0;
    margin:0;
    display:inline;
}

.captionUnderJumbotronPhone {
    display:none;
}

#indexLinksBody {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-around;
    min-height:fit-content;
    padding: 3vh 0 0;
}

.indexLinkDiv {
    margin-top:20px;
    width:500px;
    height:300px;
    background-color:azure;
    text-align:center;
    align-items:center;
    border:5px solid teal;
}

.indexLinkDiv:hover {
    background-color:white;
}

.indexLinkA {
    width:100%;
    height:100%;
    padding:80px 50px 80px 50px;
    display:block;
    text-decoration:none;
    color:teal;
    font-weight:bold;
}

.indexLinkA:hover {
    color:darkseagreen;
}

.indexFinishDate{
    color:grey;
    font-weight:normal;
}

.indexLinkToBadPage {
    background-color:lavenderblush;
    border:5px solid maroon;
}

.indexLinkToBadPage a {
    color:maroon;
}

.indexLinkToBadPage a:after {
    content: " (not done)";
}

.indexLinkToBadPage a:hover {
    color:indianred;
}

@media (min-width:2048px){
    .jumbotronContainer {
        background-size:100vw 100vh;
    }
}


@media (min-width:768px) {
    .navbar-fixed-top {
        position:fixed;
        top:0;
    }

    .jumbotronContainer {
        min-height:(100vh - 48px);
        width:100vw;
    }

    .jumbotronBkgdPhoto {
        display:grid;
        min-height:(100vh - 48px);
        align-items:center;
    }

    .jumbotron-main {
        display:grid;
        align-self:flex-end;
    }

    #indexLinksBody {
        align-items:center;
        height:100vh;
        font-size:inherit;
    }
}

@media (max-width:767px) {
    .jumbotronBkgdPhoto {
        padding-top:36px;
        padding-bottom:90px;
        background-size:cover;
        min-height:fit-content;
    }

    #bkgdIndex {
        background-image: url(https://farm1.staticflickr.com/980/28040346688_5f69829497_b.jpg);
        /* Photo of St Andrews pier and East Sands at sunrise (portrait)*/
    }
    
    #bkgdCoding {
        background-image: url(https://farm1.staticflickr.com/338/18527154218_173a70505d_k.jpg);
        /* Photo of Chester's weir */
    }
    
    #bkgdAboutMe {
        background-image: url(https://farm8.staticflickr.com/7856/46560838581_f56d755718_k.jpg);
        /* Photo of woods with my dog */
    }
    
    #bkgdChester {
        background-image: url(https://farm2.staticflickr.com/1778/30115708258_55224642fc_k.jpg);
        /* Photo of amphitheatre */
    }
    
    #bkgdLatin {
        background-image: url(https://farm1.staticflickr.com/869/41524368771_f294dcf6c6_k.jpg);
        /* Photo of Swallowgate */
    }
    
    #bkgdPhotos {
        background-image: url(https://farm1.staticflickr.com/751/31879198700_876584077d_k.jpg);
        /* Photo of three fulmars (portrait)*/
    }
    
    
    #bkgdTiQ {
        background-image: url(https://farm5.staticflickr.com/4216/34984015144_e5bf503d8c_k.jpg);
        /* Photo of St Mary's stained glass */
    }

    .jumbotron-main{
        width:100%;
        height:fit-content;
        padding:2vw;
        border-radius: 0;
    }

    .jumbotron p {
        font-size:16px;
    }

    .captionUnderJumbotron {
        display:none;
    }

    .captionUnderJumbotronPhone {
        padding: 0 10vw;
        align-self:flex-end;
        display:flex;
        justify-content:space-between;
        background:rgba(255,255,255,0.5);
        color:black;
        position:absolute;
        transform:translateY(72px);
        width:100vw;
    }

    .cujSource {
        align-self:flex-end;
    }

    .indexLinksBody {
        min-height:fit-content;
        justify-content:space-around;
        padding-bottom:18px;
    }

    .indexLinkDiv {
        width:90vw;
    }
}

@media (max-width:318px) {
    .body {
        padding-top:600px;
    }
}