@import url('https://fonts.googleapis.com/css?family=Alegreya');

body {
    font-family: 'Alegreya', serif;
    padding-top:30px;
    padding-left:0px;
    padding-right:0px;
    background-color:rgb(0,32,32);
    overflow-x: hidden;
}

a:link {
    font-weight: 600;
}

.navbar {
    width:100vw;
}

.navbar a {
    font-weight: normal
}

.navbar-right {
    padding-right:8px;
}

::-webkit-scrollbar {
    height:0;
    width:12px;
    cursor:pointer;
}

::-webkit-scrollbar-track {
    display:none; 
}
   
::-webkit-scrollbar-thumb {
    background: rgb(224, 224, 224);
    box-shadow: inset 0 0 2px rgb(160, 160, 160);
    border-radius:6px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}

::-webkit-scrollbar-corner {
    display:none;
}

.header-icon {
    display: inline;
}

#header-search-form {
    display:none;
}

.jumbotron-container {
    margin-top:18px;
    padding:0 0;
    min-height:calc(100vh - 48px);
    width: 100vw
}

.anchor {
    display:block;
    position: relative;
    transform: translateY(-48px);
    height: 0;
    width: 90vw;
}

.jumbotron-main{
    /* Padding is overruled on .jumbotron-main-with-image on larger sizes */
    padding:3vw 10vw;
    width: 100vw;
    background:rgba(255,255,255,0.75);
    border-radius: 0;
}

.highlight{
    color: teal;
}

.jumbotron-bkgd-photo {
    display:flex;
    margin:0 0;
    padding:0 0;
    width:100vw;
    height:calc(100vh - 48px);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}

#bkgd-index {
    background-image: url(https://farm1.staticflickr.com/865/40103359780_d32557cabd_k.jpg);
    /* Photo of St Andrews pier and East Sands at sunrise */
    background-color: rgb(159,62,41);
}

#bkgd-coding {
    background-image: url(https://farm1.staticflickr.com/338/18527154218_173a70505d_k.jpg);
    /* Photo of Chester's weir */
    background-color: rgb(61,122,197);
}

#bkgd-about-me {
    background-image: url(https://farm5.staticflickr.com/4205/35511958260_2a0a5667f5_k.jpg);
    /* Photo of my dog in Duke's Drive woods*/
    background-color: rgb(117,135,56);
}

#bkgd-chester {
    background-image: url(https://farm2.staticflickr.com/1778/30115708258_55224642fc_k.jpg);
    /* Photo of amphitheatre */
    background-color: rgb(206,241,253);
}

#bkgd-latin {
    background-image: url(https://farm1.staticflickr.com/869/41524368771_f294dcf6c6_k.jpg);
    /* Photo of Swallowgate */
    background-color: rgb(194,204,207);
}

#bkgd-photos {
    background-image: url(https://farm2.staticflickr.com/1740/40646047430_11f67802b5_b.jpg);
    /* Photo of heron (landscape) */
    background-color: rgb(148,167,24);

    /* background-image: url(https://farm5.staticflickr.com/4785/40804009451_35dbf25637_k.jpg); */
    /* Photo of fulmars */
    /* background-color: rgb(162,137,103); */
}


#bkgd-tiq {
    background-image: url(https://farm5.staticflickr.com/4216/34984015144_e5bf503d8c_k.jpg);
    /* Photo of St Mary's stained glass */
    background-color: rgb(173,138,43);
}

.image-headshot {
    display: block;
    background-image: url(./duncan-ritchie-headshot.jpg);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}

.cuj {
    padding: 0 10vw;
    align-self:flex-end;
    display:flex;
    justify-content:space-between;
    transform:translateY(-1vh);
    background:rgba(255,255,255,0.8);
    color:black;
}

.cuj p {
    padding:0;
    margin:0;
    display:inline;
}

.cuj-phone {
    display:none;
}

#index-links-body {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    min-height: max(calc(100vh - 48px), fit-content);
    width: 100vw
}

.index-link-div {
    display:flex;
    margin:12px 0 6px 0;
    width:425px;
    height:255px;
    background-color:azure;
    text-align:center;
    align-items:center;
    border:5px solid teal;
    position: relative
}

.index-link-div:hover {
    background-color:white;
}

.github-link {
    position: absolute;
    right: 6px;
    bottom: -4px;
    font-size: 36px
}

.index-link-a {
    width:100%;
    height:100%;
    padding:auto 50px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    text-decoration:none;
    color:teal;
    font-weight:bold;
}

.index-link-a:hover {
    color:darkseagreen;
}

.project-screenshot {
    height:240px;
}

.index-link-a div {
    width:250px;
    padding:0 20px;
}

.index-finish-date{
    color:grey;
    font-weight:normal;
}

.index-link-to-bad-page {
    background-color:#e6f2ff;
    border:5px solid #0066cc;
}

.index-link-to-bad-page a {
    color:#0066cc;
}

.index-link-to-bad-page a:hover {
    color:dodgerblue;
}

@media (min-width:2048px){
    .jumbotron-container {
        background-size:100vw calc(100vh -  48px);
    }
}


@media (min-width:768px) {
    .navbar-fixed-top {
        position:fixed;
        top:0;
    }

    .jumbotron-container {
        min-height:(100vh - 48px);
        width:100vw;
    }

    .jumbotron-bkgd-photo {
        display:grid;
        min-height:(100vh - 48px);
        align-items:center;
    }

    .jumbotron-main {
        display:grid;
        align-self:flex-end;
    }

    .jumbotron-main-with-image {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 3vw 5vw 3vw 10vw;
    }

    .jumbotron-image {
        width: 20vw;
        height: 100%;
        padding-left: 36px;
        object-fit: cover;
    }

    h1 {
        font-size: 54px;
    }
    
    .jumbotron-main p {
        font-size: 20px;
    }

    #index-links-body {
        align-items:center;
        height:100vh;
        font-size:18px;
        padding: 36px 12px 0px 12px;
    }
}

@media (max-width:767px) {
    .jumbotron-bkgd-photo {
        padding-top:36px;
        padding-bottom:90px;
        background-size:cover;
        min-height:fit-content;
    }

    #bkgd-index {
        background-image: url(https://farm1.staticflickr.com/980/28040346688_5f69829497_b.jpg);
        /* Photo of St Andrews pier and East Sands at sunrise (portrait)*/
    }
    
    #bkgd-coding {
        background-image: url(https://farm1.staticflickr.com/338/18527154218_173a70505d_k.jpg);
        /* Photo of Chester's weir */
    }
    
    #bkgd-about-me {
        background-image: url(https://farm8.staticflickr.com/7856/46560838581_f56d755718_k.jpg);
        /* Photo of woods with my dog */
    }
    
    #bkgd-chester {
        background-image: url(https://farm2.staticflickr.com/1778/30115708258_55224642fc_k.jpg);
        /* Photo of amphitheatre */
    }
    
    #bkgd-latin {
        background-image: url(https://farm1.staticflickr.com/869/41524368771_f294dcf6c6_k.jpg);
        /* Photo of Swallowgate */
    }
    
    #bkgd-photos {
        background-image: url(https://farm2.staticflickr.com/1746/40646045120_1e942c9374_b.jpg);
        /* Photo of heron (portrait) */

        /* background-image: url(https://farm1.staticflickr.com/751/31879198700_876584077d_k.jpg); */
        /* Photo of three fulmars (portrait)*/
    }
    
    
    #bkgd-tiq {
        background-image: url(https://farm5.staticflickr.com/4216/34984015144_e5bf503d8c_k.jpg);
        /* Photo of St Mary's stained glass */
    }

    .jumbotron-main{
        width:100%;
        height:fit-content;
        padding:2vw;
        border-radius: 0;
    }

    .jumbotron-image {
        width: 100vw;
        height: 20vh;
        object-fit: cover;
        padding: 0 -2vw;
        transform: translateX(-2vw)
    }

    .jumbotron p {
        font-size:16px;
    }

    .cuj {
        display:none;
    }

    .cuj-phone {
        padding: 0 10vw;
        align-self:flex-end;
        display:flex;
        justify-content:space-between;
        background:rgba(255,255,255,0.65);
        color:black;
        position:absolute;
        transform:translateY(72px);
        width:100vw;
    }

    .cuj-phone p {
        margin: 0;
    }

    .cuj-source {
        align-self:flex-end;
    }

    .index-links-body {
        min-height:fit-content;
        justify-content:space-around;
        padding:36px 0px 18px 0px;
    }

    .index-link-div {
        width:90vw;
    }
}

@media (max-width:375px) {
    .body {
        padding-top:600px;
    }
    
    .index-link-div {
        height:270px;
    }

    .index-link-a {
        padding:0;
        display:flex;
        align-items:center;
    }

    .project-screenshot {
        transform:translateY(0px)
    }

    .index-link-a div {
        margin:0;
        height: auto;
    }
}